@import "var";

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: $footer-height;
}

.company-desc {
    height: 400px;
    overflow: hidden;
}

.page-top {
    padding-top: 17px;
    padding-bottom: 17px;

    /* logo size: 66/66 px */
    .logo {
        width: 66px;
        height: 66px;
        float: left;
        // background-color: $theme-color;
        margin-right: 17px;
    }

    .company-name {
        float: left;
        .cn {
            font-family: "\96B6\4E66";
        }

        .en {
            font-family: arial;
        }
    }
}

.list {
    // list-style: none;
    // color: $theme-color;
    padding-left: 15px;

    li {
        width: 100%;
    }

    a {
        // color: $theme-color;
    }
}

footer {
    height: $footer-height;
    line-height: $footer-height;
    width: 100%;
    position: absolute;
    bottom: 0;
}