
<div class="wrap page-top">
  <div class="container">
    <div class="logo"></div>
    <div class="company-name">
      <h4 class="cn">四川井润文化传媒有限公司</h3>
      <h5 class="en">Si Chuan Jing Run Cultural Diffusion Co. Ltd</h4>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">关于我们</a>
        </li>
        <li>
          <a href="#">业务介绍</a>
        </li>
        <li>
          <a href="#">合作伙伴</a>
        </li>
        <li>
          <a href="#">人才招聘</a>
        </li>
        <li>
          <a href="/contactus/">联系我们</a>
        </li>
      </ul>
    </div>
  </div>
</nav>