<!-- 公司logo、名称 -->
<div class="wrap page-top">
  <div class="container">
    <div class="logo">
      <a href="/" title="{{ site.enterprise_name_cn }}">
        <img src="{{ "/imgs/logo.jpg" | prepend: site.staticurl }}">
      </a>
    </div>
    <div class="company-name">
      <h4 class="cn">{{ site.enterprise_name_cn }}</h3>
      <h5 class="en">{{ site.enterprise_name_en }}</h4>
    </div>
  </div>
</div>

<!-- 网站主导航 -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" 
        class="navbar-toggle collapsed" 
        data-toggle="collapse" 
        data-target="#mainNav" aria-expanded="false">
        <span class="sr-only">{{ site.enterprise_name_cn }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        {{ site.enterprise_name_cn }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="nav navbar-nav">
        <li class="home">
          <a href="/">关于我们</a>
        </li>
        <li class="biz">
          <a href="/biz/">业务介绍</a>
        </li>
        <li class="partners">
          <a href="/partners/">合作伙伴</a>
        </li>
        <li class="hire">
          <a href="/hire/">人才招聘</a>
        </li>
        <li class="contactus">
          <a href="/contactus/">联系我们</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>