html {
  height: 100%; }

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 66px; }

.company-desc {
  height: 400px;
  overflow: hidden; }

.page-top {
  padding-top: 17px;
  padding-bottom: 17px;
  /* logo size: 66/66 px */ }
  .page-top .logo {
    width: 66px;
    height: 66px;
    float: left;
    margin-right: 17px; }
  .page-top .company-name {
    float: left; }
    .page-top .company-name .cn {
      font-family: "\96B6\4E66"; }
    .page-top .company-name .en {
      font-family: arial; }

.navbar-brand {
  display: none; }

@media screen and (max-width: 767px) {
  .page-top {
    display: none; }

  .navbar-brand {
    display: inline-block; } }
.list {
  padding-left: 15px; }
  .list li {
    width: 100%; }

footer {
  height: 66px;
  line-height: 66px;
  width: 100%;
  position: absolute;
  bottom: 0; }
