.contact-method-title {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  line-height: 35px; }

.contact-methods {
  list-style: none;
  padding: 0; }
  .contact-methods li {
    padding: 10px 0; }
