<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<link rel="stylesheet" 
  href="{{ "/swiper/swiper.min.css" | prepend: site.liburl }}">

<link rel="stylesheet" 
  href="{{ "/styles/home.css" | prepend: site.staticurl }}">
<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}
  
  <script src="{{ "/requirejs/require.js" | prepend: site.liburl }}"></script>

  <script src="{{ "/scripts/requireConfig.js" | prepend: site.staticurl }}"></script>
  
  <script type="text/javascript">
  require(["bootstrap", "page/common", "page/home"]);
  </script>
</body>
</html>